<!DOCTYPE html>
<html>
	<head>
		<title>Cameron Dufault</title>
		<!-- link to main stylesheet -->
		<!-- <base href="https://www.w3schools.com/" target="_blank"> -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<!--
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		-->
		<div class="container">
		</div>
		<footer>
    		<ul>
        		<li><a href="mailto:dufaultc@mcmaster.ca">email</a></li>
        		<li><a href="https://github.com/dufaultc">github.com/dufaultc</a></li>
			</ul>
		</footer>
	</body>
</html>
